*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;   
}

body .container{
    background-image: url(./img/vm.jpg);
    margin-top: 20%;
    height: 500px;
    width: 750px;
    display: flex;
    justify-content: center;
}

body .container .container-div{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

body .container .container-div .container-text{
    background-color: rgba(25, 25, 25, 0.8);
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    color: gold;
    font-size: x-large;
}

body .container .container-div .container-menu{

}

.main-button{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    background-color: rgba(25, 25, 25, 0.8);  
    border-radius: 10px;
    border: gold 3px solid;
    color: Gold;
    width: 150px;
    height: 40px;
    margin: 5px;
    justify-content: center;
    text-decoration: none;
}

.main-button h2{
    margin: auto;
}

.sardines{
    background-image: url(./img/sardines.jpg);
    margin-top: 20%;
    height: 500px;
    width: 750px;
    display: flex;
    justify-content: center;
    color: gold;
}

.rounded-centar-content-div{
    width: 400px;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 10px;
    text-align: center;
    margin:auto;
}

.width-100{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    text-decoration: none;
}

.width-100 button {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    background-color: rgba(25, 25, 25, 0.8);  
    border-radius: 10px;
    border: gold 3px solid;
    color: Gold;
    width: 150px;
    height: 40px;
    margin: 5px;
    justify-content: center;
    text-decoration: none;
}

.cola{
    margin-top: 20%;
    height: 500px;
    width: 1000px;
    display: flex;
    color: gold;
    display: flex;
    justify-content: space-between;
}

.cola-div{
    height: 400px;
    width: 400px;
    color: gold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}


.cola .img-cola img{
    width: 200px;
    height: 400px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .chips{
    margin-top: 20%;
    height: 500px;
    width: 400px;
    display: flex;
    color: gold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .button-text{
      margin: auto;
  }

  .bag{
      width: 100px;
      height: 120px;
      position: absolute;
  }